nav>a {
  padding: 5px;
  text-decoration: none;
}

a.active:hover {
  background-color: #a6ff00;
}

.header-row {
  width: 100%;
}

.header-toolbar {
  margin-bottom: 20px;
  height: 130px;
  background-color: #9f1927;
}

a {
  margin-right: 25px;
  color: white;
}

.burger-menu {
  color: rgb(0, 0, 0);
  float: right;
}


@media (min-width: 260px) and (max-width: 768px) {
  .header-row {
    width: 50%;
  }

  .burger-menu {
    color: rgb(255, 255, 255);
  }

  .desktop-menu {
    color: #fff;
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 2400px) {
  .desktop-menu {
    color: #fff;
  }

  .burger-menu {
    color: rgba(0, 0, 0, 0.0);
    display: none;
    float: right;
  }
}


.activo {
  background-color: #ccc;
}

button {
  background: #9f1927;
  color: white;
}

.mat-tree-node {
  background: rgb(255, 255, 240) !important;
  background: linear-gradient(90deg, rgba(255, 255, 240, 1) 0%, rgba(159, 25, 39, 1) 100%) !important;
}
